<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% if (user) { %>
    <p><small> You're logged in as: <%= user.email %></small></p>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
    <% } else { %>
    <form action="/register" method="GET">
        <input type="submit" value="Register">
    </form>
    <form action="/login" method="GET">
        <input type="submit" value="Login">
    </form>
    </form>
    <% } %>
  </head>
</html>
