<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% if (user) { %>
      <form action="/logout" method="POST">
        <p>
        <small> You're logged in as: <%= user.email %></small>
      <input type="submit" value="Logout">
      </p>
    </form>
    <% } else { %>
    <form action="/register" method="GET">
        <input type="submit" value="Register">
    </form>
    <form action="/login" method="GET">
        <input type="submit" value="Login">
    </form>
    </form>
    <% } %>
  </head>
</html>
