<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp Header</title>
    <form action="/login" method="POST" style="margin:150px;">
      <label>Enter Your Name:</label>
      <input id="username" type="text" name="username" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit" name="username">
    </form>

  </head>
</html>
