<!DOCTYPE html>
<html lang="en">
  <body>
      <% include('partials/_header') %>
      <h1>URL Database</h1>
      <ul>
        <% if (longURL) {%>
          <h3><a href="/u/<%= shortURL %>"><%= shortURL %></a> - <%= longURL %></h3>
        <% } else { %>
          <h3> Invalid Short URL </h3>
        <% } %>
      </ul>
          <form method="POST" action="/urls/<%= shortURL %>/update">
            <input type="text" name="longURL">
            <button type='submit'>Update</button>
          </form>

  </body>
</html>