<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
      <h1>URL Database</h1>
      <ul>
        <% if (longURL) {%>
          <h3><%= shortURL %> - <%= longURL %></h3>
        <% } else { %>
          <h3> Invalid Short URL </h3>
        <% } %>
      </ul>
  </body>
</html>