<!DOCTYPE html>
<html lang="en">
  <body>
      <% include('partials/_header') %>
      <h1>URL Database</h1>
      <ul>
        <% for(var i in urls) { %>
          <li><%= i + " URL:  " + urls[i] %>  <button type='delete'>Delete</button></li>
          <link rel="stylesheet" type="text/css" href="">
        <% } %>
      </ul>
        <form method="POST" action="/urls/9sm5xK/delete">...</form>
  </body>
</html>
