<!DOCTYPE html>
<html>
<head>
  <title>Register for this amazing app!</title>
</head>
<body>
  <h3>Register for this amazing app!</h3>
  <form action="/register" method="POST">
    Email: <input type="text" name="email" style = width:300px><br>
    Password: <input type="password" name="pwd" maxlength="8" style = width:300px><br>
  <input type="submit">
</form>
</form>
</body>
</html>