<!DOCTYPE html>
<html lang="en">
  <body>
      <% include partials/_header %>
      <% if (user) { %>
            <% for(var url in urls) { %>
              <form method="POST" action="/urls/<%= url %>/delete">
                <ul>
                  <li>
                <%= url + " URL:  " + urls[url].longURL %>  
              <a href="/urls/<%= url %>" style="padding: 1em">Edit</a>
                <button type='submit'>Delete</button>
              </li>
            </ul>
            <link rel="stylesheet" type="text/css" href="">
            <% } %>
          <p><a href='/urls/new'>Create a New Short Link</a></p>
            <% } else { %>
              <p>Please login or register to see URLs</p>
            <% } %>
          </form>
  </body>
</html>
